@import './fonts.css';
@import 'tailwindcss';

@theme {
	--color-canvas: #000;
	--color-ink: #fff;
	--color-accent: orangered;
	--font-mono: 'Doto', monospace;
	/* --font-mono: 'Geist Mono', monospace; */
}

@layer base {
	::selection {
		background-color: var(--color-accent);
		color: var(--color-ink);
	}

	:focus-visible {
		outline: none;
	}

	html {
		accent-color: var(--color-accent);
		caret-color: var(--color-accent);
	}

	label {
		cursor: pointer;
	}

	button {
		cursor: pointer;
		@apply focus-visible:text-accent;
	}

	input {
		@apply placeholder:text-ink/50;

		&[list]::-webkit-list-button {
			opacity: 0;
		}
	}
}
