@import 'tailwindcss';

@theme {
	--color-react-icons: #e91e63;
	--color-dodgerblue: dodgerblue;
}

@layer base {
	:root {
		accent-color: dodgerblue;
		caret-color: dodgerblue;
	}

	* {
		min-width: 0;
	}

	:focus-visible {
		@apply ring-dodgerblue/20 ring-4 outline-none;
	}

	input {
		outline: none !important;
		@apply focus:border-dodgerblue rounded border border-neutral-300 px-1;
	}

	a,
	button,
	label {
		cursor: pointer;
		@apply link;
	}

	table {
		& :is(th, td) {
			@apply p-4;
		}

		& tr:nth-child(even) {
			@apply bg-neutral-100;
		}
	}
}

@utility link {
	text-decoration: underline dashed;

	&:hover {
		text-decoration-style: solid;
	}
}
