@import 'tailwindcss';

@theme {
	--color-react-icons: #e91e63;
}

@layer base {
	* {
		min-width: 0;
	}

	input {
		@apply border border-neutral-300;
	}

	a,
	button,
	label {
		cursor: pointer;
		@apply link;
	}

	table {
		& :is(th, td) {
			@apply px-4 py-2;
		}

		& tr:nth-child(even) {
			@apply bg-neutral-100;
		}
	}
}

@utility link {
	text-decoration: underline dashed;

	&:hover {
		text-decoration-style: solid;
	}
}
